body {
    background-color:rgb(255,255,251);
}
#caption {
    color: rgb(129,129,129);
    text-align: center;
    font-size: 13pt;
}
h1 {
    color: rgb(61,83,126);
    text-align: center;
    font-size: 40pt;
}
p {
    color: rgb(29,30,31);
    font-size: 16pt;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    overflow-wrap: normal;
}
h2 {
    color: rgb(94,168,91);
    text-align: center;
    font-family:"Lucida Grande";
    font-size: 24pt;
}
h3 {
    color: rgb(97, 120, 141);
    font-size: 20pt;
    text-align:center;
    font-family: Geneva
}
#noah {
    float: right;
}
#desks {
    float: left;
}
a {
    font-family: "Verdana";
    font-size: 13pt;
    color: rgb(68,168,126);
}